# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
.venv/
venv/
.env

# Django
staticfiles/
media/
.private_uploads/

# Node
node_modules/
frontend/dist/
frontend/.vite/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
